
.btn-book {
  color: #ffffff;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.cross-sign{
  cursor: pointer;
}

@media screen and (min-width: 968px) {
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-left: 10rem;
  }
}
