
.btn-book {
  color: #ffffff;
}

.card-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.cross-sign{
  cursor: pointer;
}

.add-cart-btn{
  color: #35090b;
  border-color: #35090b;
  font-size: 1rem;
  font-weight: 700;
}

.add-cart-btn:hover{
  background-color: #35090b;
  color: #ffffff;
}

.cart{
  background-color:  #F3EEE7;
  font-weight: 500;
}

.room-heading{
  font-family: 'Playfair Display', serif;
}

.room-alert{
  background-color: #ffffff;
  border: 0px;
  color: red;
  padding: 10px 10px;
  margin: 2px 0px;
}

@media screen and (min-width: 968px) {
  .card-container {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-left: 10rem;
  }
}
