
.room-overview-container{
    margin-top: 100px;
    margin-bottom: 100px;
}
.right-col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.right-col h2{
    line-height: 1.5;
    margin-bottom: 13px;
}


.room-slider{
    overflow: hidden;
}
@media screen and (max-width: 768px) {

    .right-col h2{
        font-size: 38px;
    }
}
